<b> <%= event.intype_label %> </b> <i>@ <%= event.create_time %> in <%= community.name %></i>
<br>
<% print(event_edit_link(event)) %> <%= event.data.detail %><br>
Reported by: <%= event.nickname %> (<%= event.status %>)
